/.env.local
/.env.local.php
/.env.*.local
/config/yara_ruleset/*
/config/sigma_ruleset/*
/data/caddy_logs/*
/data/ftp_data/*
/data/grafana/*
/data/kibana/*
/data/fluentbit_db/*
/data/log_ingest_data/evtx/*
/data/log_ingest_data/auditd/*
/data/log_ingest_data/json/*
/data/mysql_data/*
/data/yara_triage_data/*
/docs/graphs/*.bkp
/sentinel-kit_server_frontend/node_modules/*
/sentinel-kit_server_frontend/package-lock.json
/sentinel-kit_server_backend/composer.lock
/sentinel-kit_server_backend/migrations/*
/sentinel-kit_server_backend/var/*
/sentinel-kit_server_backend/vendor/*
/sentinel-kit_server_backend/public/bundles/
/sentinel-kit_server_backend/config/secrets/prod/prod.decrypt.private.php
/sentinel-kit_server_backend/config/config/jwt/*.pem
/sentinel-kit_server_backend/package-lock.json
